.nav {
    position: fixed;
    right:0;
    margin-left: auto;
    background-color: white;
    z-index: 3;
    width:20%;
    height:95%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.35s ease-out;
    padding-left:20px;
    padding-top: 10px;
    
}
.slide-right {
    width:35px;
    height:35px;
    position: fixed;
    z-index:4;
    right:410px;
    margin-left: auto;
    color:blue;
    border:none;
    font-size:2rem;
    top:454px;
    transition: all 0.35s ease-out;

}
.slide-right:hover{
    cursor: pointer;
}
.nav-hidden {
        position: fixed;
    right:0;
    margin-left: auto;
    background-color: white;
    z-index: 3;
    width:2%;
    height:95%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.35s ease-out;

}
.slide-right-stick {
    width:35px;
    height:35px;
    position: fixed;
    z-index:4;
    right:50px;
    margin-left: auto;
    border:none;
    font-size:2rem;
    top:454px;
    transition: all 0.35s ease-out;
}
.Load-Project, .Delete-Project-default, .Delete-Project {
    background-color: white;
    border: 1px solid #DDDACB;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.create-project {
  background-color: white;
    border: 1px solid #DDDACB;
    border-radius: 5px;
    padding: 5px;
    letter-spacing: 0.05rem;
    margin: 5px;
    width:94%;
    cursor: pointer;
    height:40px; 
}