.site-contain{
    width:100%;
    height:100%;
    background-color: #DDDACB;
    display: flex;
    flex-direction: row;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
    border-radius: 10px;
}
.box-with-todoboxes {
display:grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: auto;
    width:50%;
    
}
#BoxContainingAClass {
    display: flex;
    flex-direction: column;
    letter-spacing: 0.05rem;
    overflow: hidden;
    padding:20px;
}
#title {
    font-size:1rem;
    font-weight: bolder;
    width:300px;
    height:30px;
}
.formstyle{
width:25%;
height: 75%;
background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:100px;
    margin: auto;
    border-radius: 10px;
    padding:25px;
    letter-spacing: 0.05rem;
}
.flex-description {
    display: flex;
    align-items: center;
    gap:3px;
}
.description {
    box-sizing: border-box;
    resize: none;
    width:50%;
    height:50px;
    
}

.ADDTODO {
    z-index: 2;
    position: absolute;
    left: 50%;
    margin-left: -121.08px;

}
.right-side-completes {
    
     display: flex;
    flex-direction: column;
    letter-spacing: 0.05rem;
    overflow: hidden;
    padding:20px;
}
.right-side-completes #BoxContainingAClass {
    background-color: #CBDF80;
    border-radius: 20px;
   margin-top: 10px;
}
#BoxContainingAClass {
    background-color: aliceblue;
    border-radius: 20px;
   margin: 10px;
}
body {
    overflow-y:auto;
    overflow-x: hidden;
    background-color: #DDDACB;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}
#cancel, #complete {
    background-color: white;
    border: 1px solid #DDDACB;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.AddTask {
    letter-spacing: 0.05rem;
    padding: 20px 100px;
    font-size:1.2rem;
    background-color: white;
    border: none;
    cursor: pointer;
     z-index: 2;
    position: fixed;
    left: 50%;
    margin-left: -159.1px;
    bottom: 5%;
    border-radius: 10px;
}
.queryALL {
    overflow-y: auto;
    
}
.ADDTODO {
    letter-spacing: 0.05rem;
    padding: 20px 100px;
    font-size:1.2rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
     z-index: 2;
    position: fixed;
    border-radius: 10px;
}
.title, .description, .prio {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #DDDACB;
    font-size: 1rem;
    width: 70%;
    box-sizing: border-box;
}
.date {
     padding: 5px;
    border-radius: 5px;
    border: 1px solid #DDDACB;
    font-size: 1rem;
    
    box-sizing: border-box;
}
.temp-button {
    z-index: 3;
    position: fixed;
    top: 10px;
    right: 10px;
}
